<!-- Header  -->
<div class="page-header" data-parallax="true">
  <div class="text-center page-header__text">
    <div class="container content">
      <h1>Join to our next event:</h1>
      <h3>And make someone's day happier</h3>
      <div class="row">
        <form class="form m-auto py-3">
          <p>
            <mat-form-field appearance="outline" class="input col-md-12">
              <mat-label>Full name</mat-label>
              <input
                matInput
                required
                type="text"
                placeholder="Jane Doe"
                autocomplete="off"
              />
            </mat-form-field>
            <mat-form-field appearance="outline" class="input">
              <mat-label>Email</mat-label>
              <input
                matInput
                required
                type="email"
                placeholder="Jane@doe.com"
                autocomplete="doNotAutoComplete"
              />
            </mat-form-field>
          </p>
          <button
            mat-stroked-button
            color="warn"
            class="btnSend btn-lg btn-round"
          >
            Send
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- Header  -->
