<!-- Header  -->
<app-navbar></app-navbar>
<div class="page-wrapper">
  <div class="container content">
    <div class="d-flex">
      <div class="formContent text-left">
        <h1>Join to our next event:</h1>
        <h5>And make someone's day happier</h5>
        <form
          class="form register-form"
          [formGroup]="profileForm"
          (ngSubmit)="onSubmit(f)"
          #f="ngForm"
        >
          <div>
            <mat-form-field appearance="standard" class="input d-block">
              <mat-label>Full name</mat-label>
              <input
                matInput
                required
                type="text"
                required
                id="full_name"
                name="full_name"
                formControlName="full_name"
                autocomplete="off"
              />
              <mat-error *ngIf="full_name.errors?.required"
                >Full name is required</mat-error
              >
              <mat-error *ngIf="full_name.errors?.pattern"
                >Must contain only letters</mat-error
              >
            </mat-form-field>
          </div>
          <div>
            <mat-form-field
              appearance="standard"
              class="input d-block mt-3 mb-3"
            >
              <mat-label>Phone number</mat-label>
              <input
                matInput
                required
                type="text"
                required
                id="phone"
                name="phone"
                formControlName="phone"
                autocomplete="off"
              />
              <mat-error *ngIf="phone.errors?.required"
                >Phone number is required</mat-error
              >
              <mat-error *ngIf="phone.errors?.pattern"
                >Invalid phone number</mat-error
              >
            </mat-form-field>
          </div>
          <div>
            <mat-form-field
              appearance="standard"
              class="number-input d-block mt-3 mb-3"
            >
              <mat-label>Number of people</mat-label>
              <input
                matInput
                required
                type="number"
                required
                id="phone"
                name="phone"
                formControlName="phone"
                autocomplete="off"
              />
              <mat-error *ngIf="phone.errors?.required"
                >Phone number is required</mat-error
              >
              <mat-error *ngIf="phone.errors?.pattern"
                >Invalid phone number</mat-error
              >
            </mat-form-field>
          </div>
          <hr />
          <div>
            <p class="thanks">
              We are using smart algorithm to deliver packages easily, the more
              precise the address will be the better :)
            </p>
            <mat-form-field
              appearance="standard"
              class="input d-block mt-3 address-input"
            >
              <mat-label>Address</mat-label>
              <input
                matInput
                required
                type="text"
                required
                id="address"
                name="address"
                formControlName="address"
                autocomplete="off"
              />
              <mat-error *ngIf="address.errors?.required"
                >Address is required</mat-error
              >
            </mat-form-field>
          </div>
          <div class="mt-5">
            <button
              class="btnSend btn btn-round px-4 py-2"
              type="submit"
              [disabled]="!profileForm.valid"
            >
              Submit
            </button>
          </div>
          <div class="error-msg">
            <span>{{ errorMsg }}</span>
          </div>
        </form>
      </div>
      <div class="side-image">
        <img
          src="../../assets/img/banner-signup.jpg"
          class="w-100 h-100"
          id="picture"
        />
      </div>
    </div>
  </div>
</div>
<!-- Header  -->
