<footer class="container-fluid footer py-4">
  <div class="container text-center">
    <p>עקבו אחרינו</p>
    <div class="icons">
      <span class="social facebook">
        <a><fa-icon [icon]="['fab', 'facebook']"></fa-icon></a>
      </span>
      <span class="social instagram">
        <a><fa-icon [icon]="['fab', 'instagram']"></fa-icon></a>
      </span>
      <span class="social youtube">
        <a><fa-icon [icon]="['fab', 'youtube']"></fa-icon></a>
      </span>
    </div>
    <hr />
    <div class="credits">
      <p class="copyright">
        כל הזכויות שמורות לפרויקט &TakeMy ולאוניברסיטת חיפה,
        {{ date | date: "yyyy" }} ©
      </p>
    </div>
  </div>
</footer>
