// Material overrides
.mat-form-field.mat-focused .mat-form-field-label {
  color: var(--natural-clr-white) !important;
}

.mat-form-field-suffix .mat-icon {
  font-size: 120%;
}

.mat-form-field-appearance-standard .mat-form-field-underline {
  transition: 0.5s;
  background-color: var(--natural-clr-white) !important;
}

.mat-form-field-appearance-standard .mat-form-field-ripple {
  transition: 0.2s;
  background-color: var(--natural-clr-white) !important;
}

.mat-focused {
  color: var(--natural-clr-white) !important;
}

.mat-select-min-line {
  color: var(--natural-clr-white) !important;
}

mat-form-field {
  input,
  .mat-form-field-label {
    color: var(--natural-clr-white) !important;
  }
}

.mat-checkbox-background {
  border: 1px solid var(--natural-clr-white);
}

.mat-select-arrow,
.mat-form-field.mat-focused.mat-primary .mat-select-arrow {
  color: var(--natural-clr-white);
}

.mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: hsl(3, 85%, 57%);
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-form-field.table-input {
  font-size: 14px;
  width: 80%;
}

.mat-progress-spinner circle,
.mat-spinner circle {
  stroke: var(--natural-clr-white);
}

.mat-sort-header-container {
  justify-content: flex-start !important;
}

.mat-table {
  background: rgba(29, 28, 49, 0.164);
}

.mat-header-cell {
  color: var(--natural-clr-white) !important;
}

mat-row,
mat-header-row,
mat-footer-row,
th.mat-header-cell,
td.mat-cell,
td.mat-footer-cell {
  border-bottom-color: rgb(204, 204, 204, 41%);
}

[mat-header-row] {
  background: hsl(228, 53%, 7%);
}

.mat-cell,
.mat-footer-cell {
  color: var(--natural-clr-white) !important;
}

.mat-stroked-button.mat-warn.mat-button-disabled,
.mat-stroked-button.mat-button-disabled.mat-button-disabled {
  cursor: not-allowed;
}