<h1 mat-dialog-title class="text-right">הוסף אירוע</h1>
<form
  class="form"
  [formGroup]="profileForm"
  (ngSubmit)="onSubmit(f)"
  #f="ngForm"
>
  <mat-form-field appearance="standard" class="input d-block">
    <mat-label>כותרת</mat-label>
    <input
      matInput
      type="text"
      required
      id="title"
      name="title"
      autocomplete="off"
      formControlName="title"
    />
    <mat-error *ngIf="title.errors?.required">שדה חובה</mat-error>
  </mat-form-field>
  <mat-form-field appearance="standard" class="input d-block">
    <mat-label>קטגוריה</mat-label>
    <input
      matInput
      type="text"
      required
      id="category"
      name="category"
      autocomplete="off"
      formControlName="category"
    />
    <mat-error *ngIf="category.errors?.required">שדה חובה</mat-error>
  </mat-form-field>
  <mat-form-field appearance="standard" class="input d-block">
    <mat-label>בחר תאריך</mat-label>
    <input
      matInput
      [matDatepicker]="picker"
      name="date"
      id="date"
      required
      formControlName="date"
    />
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker color="warn"></mat-datepicker>
    <mat-error *ngIf="date.errors?.required">שדה חובה</mat-error>
  </mat-form-field>
  <mat-form-field appearance="standard" class="input d-block">
    <mat-label>תיאור</mat-label>
    <textarea
      matInput
      type="text"
      required
      id="description"
      name="description"
      autocomplete="off"
      formControlName="description"
      cdkTextareaAutosize
      cdkAutosizeMinRows="4"
      cdkAutosizeMaxRows="6"
    ></textarea>
    <mat-error *ngIf="description.errors?.required">שדה חובה</mat-error>
  </mat-form-field>
  <mat-form-field appearance="standard" class="input d-block">
    <mat-label>מפתח סודי</mat-label>
    <input
      matInput
      name="secret"
      id="secret"
      required
      type="text"
      autocomplete="off"
      formControlName="secret"
    />
    <mat-error *ngIf="secret.errors?.required">שדה חובה</mat-error>
    <mat-error *ngIf="secret.errors?.pattern"
      >1 Upper-case, 1 Lower-case, 1 Number, 1 Special Char - Length
      8</mat-error
    >
  </mat-form-field>
  <div class="mt-2">
    <div mat-dialog-actions align="end">
      <button mat-stroked-button mat-dialog-close type="button">ביטול</button>
      <button
        mat-stroked-button
        color="warn"
        type="submit"
        [disabled]="!profileForm.valid"
      >
        <span *ngIf="!loading">הוסף</span>
        <mat-spinner
          *ngIf="loading"
          diameter="23"
          class="spinner mr-1"
          color="warn"
        ></mat-spinner>
      </button>
    </div>
  </div>
</form>
