<app-navbar></app-navbar>
<!-- Header  -->
<div class="page-header" data-parallax="true">
  <div class="container">
    <div class="text-center page-header__text">
      <h1>אל תחכה למחר, תעשה שינוי היום!</h1>
      <h3>התנדב & תרום</h3>
      <br />
      <a routerLink="/volunteer" class="btn-round btn px-5 py-3 btnSend">
        הצטרף אלינו
      </a>
    </div>
  </div>
  <div class="icon-scroll"></div>
</div>
<!-- Header  -->

<div class="main">
  <!-- About Start -->
  <div class="about">
    <div class="container">
      <div class="row align-items-center">
        <div
          class="col-md-6"
          inViewport
          [inViewportOptions]="{ threshold: [0] }"
          (inViewportAction)="onIntersection($event, 'animate__fadeInUp')"
        >
          <div class="about-img">
            <div class="about-img-1">
              <img src="../../../assets/img/hero.jpg" alt="Image" />
            </div>
            <div class="about-img-2">
              <img src="../../../assets/img/helpingothers.jpg" alt="Image" />
            </div>
          </div>
        </div>
        <div
          class="col-md-6"
          inViewport
          [inViewportOptions]="{ threshold: [0] }"
          (inViewportAction)="onIntersection($event, 'animate__fadeInUp')"
        >
          <div class="section-header">
            <p>טיפה עלינו</p>
            <h2>פה ב-&TakeMy</h2>
          </div>
          <div class="about-text">
            <p>
              פה ב-&TakeMy, אנחנו יודעים שכל מה שצריך כדי לשנות את העולם הוא קצת
              תמיכה. מאז הקמתנו היינו נחושים להשפיע. ליבת המאמצים שלנו היא להביא
              את הרעיונות והתשוקה הטריים של הצוות שלנו למגוון פעילויות שהם אנו
              מעורבים. דרך כל המאמצים שלנו אנו מקווים להציג את האמונה שלנו
              מאחורי המעשים.
            </p>
            <p>
              הצטרפו לקהילת התורמים שלנו, ככל שיתרם יותר כסף, כך נוכל להבטיח
              שליותר אנשים יהיה שולחן חג בביתיהם!
            </p>
            <a
              href="https://www.payboxapp.com/"
              target="_blank"
              color="warn"
              class="btn-round btn btn-danger px-3 py-2 watchBtn"
              ><fa-icon [icon]="['fas', 'donate']" class="ml-2"></fa-icon
              ><span>תרום לעמותה</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- About End -->

  <!-- Events -->
  <div
    class="blog"
    inViewport
    [inViewportOptions]="{ threshold: [0] }"
    (inViewportAction)="onIntersection($event, 'animate__fadeInUp')"
  >
    <div class="container">
      <div>
        <p>אירועים</p>
        <h2>אירועים לשנת {{ date | date: "yyyy" }}</h2>
      </div>
      <div class="row">
        <div
          class="blog-item col-md-6"
          *ngFor="let event of events; let i = index"
        >
          <div class="blog-img">
            <img [src]="'../../assets/img/image' + i + '.jpg'" alt="Blog" />
          </div>
          <div class="blog-content">
            <h2 class="blog-title">{{ event?.title }}</h2>
            <div class="blog-meta">
              <fa-icon [icon]="['far', 'list-alt']"></fa-icon>
              <p class="ml-2">{{ event?.category }}</p>
              <fa-icon [icon]="['far', 'calendar-alt']"></fa-icon>
              <p>{{ event?.date | date: "d/M/yyyy" }}</p>
            </div>
            <div class="blog-text">
              <p>
                {{ event?.description }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Events End  -->
    <!-- Quote  -->
    <div class="section text-left quote-section mt-5">
      <div class="container">
        <div class="row">
          <div
            class="col-md-12"
            inViewport
            [inViewportOptions]="{ threshold: [0] }"
            (inViewportAction)="onIntersection($event, 'animate__fadeInRight')"
          >
            <p class="quote-header">במה אנחנו מאמינים</p>
            <h3 class="quote section-header" dir="ltr">
              <em>
                “Remember that the happiest people are not those getting
                more,<br />
                but those giving more.”
              </em>
            </h3>
            <h5 class="author" dir="ltr"><em> H. Jackson Brown Jr.</em></h5>
          </div>
        </div>
      </div>
    </div>
    <!-- Quote End  -->
    <!-- Process  -->
    <div class="section text-center my-5">
      <div class="container">
        <div class="row">
          <div class="col-md-8 mr-auto ml-auto">
            <p>התהליך שלנו</p>
            <h2 class="title">בואו נדבר על התהליך</h2>
            <p class="description mt-3">
              כאן ב&TakeMy אנחנו פועלים בשלושה שלבים שונים, והכל באמצעות
              המתנדבים שמושיטים את ידם לעזור לנזקקים ולאוכלוסייה הסובבת אותם.
              אנו מתחילים מאיסוף תרומות שבהם אנו רוכשים את המוצרים, לאחר מכן
              אורזים את המוצרים שרכשנו לחבילות מזון ולסיום אנו מביאים עד פתח
              הבית של הנזקק את החבילות
            </p>
          </div>
        </div>
        <br /><br />
        <div class="row">
          <div
            class="col-md-4"
            inViewport
            [inViewportOptions]="{ threshold: [0] }"
            (inViewportAction)="onIntersection($event, 'animate__fadeInUp')"
          >
            <div class="info">
              <div class="icon icon-danger">
                <fa-icon [icon]="['fas', 'coins']"></fa-icon>
              </div>
              <div class="description">
                <h4 class="info-title">איסוף תרומות</h4>
                <p class="description">
                  איסוף תרומות מהקהילה שלנו לצורכי רכישת מוצרים אשר יחולקו
                  כחבילות מזון לנזקקים
                </p>
              </div>
            </div>
          </div>
          <div
            class="col-md-4"
            inViewport
            [inViewportOptions]="{ threshold: [0] }"
            (inViewportAction)="
              onIntersection($event, 'animate__fadeInUp', 'animate__delay-05s')
            "
          >
            <div class="info">
              <div class="icon icon-danger">
                <fa-icon [icon]="['fas', 'box-open']"></fa-icon>
              </div>
              <div class="description">
                <h4 class="info-title">אריזת מזון</h4>
                <p>
                  התאספות ליום מיוחד שבו נפגשים כל חברי הקהילה על מנת לארוז את
                  החבילות, להנות ולהכיר
                </p>
              </div>
            </div>
          </div>
          <div
            class="col-md-4"
            inViewport
            [inViewportOptions]="{ threshold: [0] }"
            (inViewportAction)="
              onIntersection($event, 'animate__fadeInUp', 'animate__delay-1s')
            "
          >
            <div class="info">
              <div class="icon icon-danger">
                <fa-icon [icon]="['fas', 'shipping-fast']"></fa-icon>
              </div>
              <div class="description">
                <h4 class="info-title">חלוקת חבילות</h4>
                <p>
                  חילוק חבילות המזון לנזקקים העיר באמצעות רכבי המתנדבים
                  ואלגוריתם חכם לחילוק יעיל
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Process End  -->
  </div>
</div>
<app-footer></app-footer>
