<app-navbar></app-navbar>
<!-- Header  -->
<div class="page-header" data-parallax="true">
  <div class="container">
    <div class="text-center page-header__text">
      <h1>אל תחכה למחר, תעשה שינוי היום!</h1>
      <h3>התנדב & תרום</h3>
      <br />
      <a routerLink="/volunteer" class="btn-round btn px-5 py-3 btnSend">
        הצטרף אלינו
      </a>
    </div>
  </div>
  <div class="icon-scroll"></div>
</div>
<!-- Header  -->

<div class="main">
  <!-- About Start -->
  <div class="about">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-6">
          <div class="about-img">
            <div class="about-img-1">
              <img src="../../../assets/img/hero.jpg" alt="Image" />
            </div>
            <div class="about-img-2">
              <img src="../../../assets/img/helpingothers.jpg" alt="Image" />
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="section-header">
            <p>Learn About Us</p>
            <h2>&Here At Takemy</h2>
          </div>
          <div class="about-text">
            <p>
              Here at Takemy&, we know that sometimes all it takes to change the
              world is a little support. Since our founding, we have been
              determined to make an impact. The core of our efforts is to bring
              our team’s fresh ideas and passion to the range of activities
              we’re involved in. Through all of our endeavors we hope to display
              the conviction behind our beliefs.
            </p>
            <p>
              Join our annual volunteers in gleaning, sorting and packaging food
              for the needy in our community
            </p>
            <a color="warn" class="btn-round btn px-3 py-2 watchBtn"
              ><fa-icon [icon]="['fas', 'donate']" class="ml-2"></fa-icon
              ><span>תרום לעמותה</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- About End -->

  <!-- Events -->
  <div class="blog">
    <div class="container">
      <div class="section-header">
        <p>Events</p>
        <h2>2021 Featured events</h2>
      </div>
      <div class="row">
        <div class="blog-item col-md-6">
          <div class="blog-img">
            <img src="../../../assets/img/Applehoney.jpg" alt="Blog" />
          </div>
          <div class="blog-content">
            <h2 class="blog-title">Rosh-HaShana</h2>
            <div class="blog-meta">
              <i class="fa fa-list-alt"></i>
              <p>Category</p>
              <fa-icon [icon]="['far', 'calendar-alt']"></fa-icon>
              <p>01-Jan-2045</p>
            </div>
            <div class="blog-text">
              <p>
                Lorem ipsum dolor sit amet elit. Neca pretim miura bitur facili
                ornare velit non vulpte liqum metus tortor.
              </p>
            </div>
          </div>
        </div>
        <div class="blog-item col-md-6">
          <div class="blog-img">
            <img src="../../../assets/img/Passover.jpg" alt="Blog" />
          </div>
          <div class="blog-content">
            <h2 class="blog-title">Passover</h2>
            <div class="blog-meta">
              <i class="fa fa-list-alt"></i>
              <p>Category</p>
              <fa-icon [icon]="['far', 'calendar-alt']"></fa-icon>
              <p>01-Jan-2045</p>
            </div>
            <div class="blog-text">
              <p>
                Lorem ipsum dolor sit amet elit. Neca pretim miura bitur facili
                ornare velit non vulpte liqum metus tortor.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Events End  -->
    <!-- Quote  -->
    <div class="section text-left quote-section mt-5">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <p class="quote-header">Quote</p>
            <h3 class="quote section-header">
              <em>
                “Remember that the happiest people are not those getting
                more,<br />
                but those giving more.”
              </em>
            </h3>
            <h5 class="author"><em> H. Jackson Brown Jr.</em></h5>
          </div>
        </div>
      </div>
    </div>
    <!-- Quote End  -->
    <!-- Process  -->
    <div class="section text-center my-5">
      <div class="container">
        <div class="row">
          <div class="col-md-8 mr-auto ml-auto">
            <p>Our Process</p>
            <h2 class="title">Let's talk about process</h2>
            <p class="description mt-3">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus
              laboriosam corporis dicta fuga doloremque, mollitia minima ipsam
              dolore nobis at sint corrupti eos ratione voluptate expedita!
            </p>
          </div>
        </div>
        <br /><br />
        <div class="row">
          <div class="col-md-4">
            <div class="info">
              <div class="icon icon-danger">
                <fa-icon [icon]="['fas', 'coins']"></fa-icon>
              </div>
              <div class="description">
                <h4 class="info-title">Collect Donations</h4>
                <p class="description">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod,
                  facilis!
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="info">
              <div class="icon icon-danger">
                <fa-icon [icon]="['fas', 'box-open']"></fa-icon>
              </div>
              <div class="description">
                <h4 class="info-title">Package Food</h4>
                <p>
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                  Ipsam, aspernatur!
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="info">
              <div class="icon icon-danger">
                <fa-icon [icon]="['fas', 'shipping-fast']"></fa-icon>
              </div>
              <div class="description">
                <h4 class="info-title">Food Distribution</h4>
                <p>
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                  Modi, rerum?
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Process End  -->
  </div>
</div>
<app-footer></app-footer>
