<div class="container content-wrapper volunteer-wrapper" dir="rtl">
  <table
    mat-table
    [dataSource]="dataSource"
    class="mat-elevation-z8 demo-table d-block table-container"
  >
    <ng-container
      *ngFor="let column of columns"
      [matColumnDef]="column.columnDef"
    >
      <th mat-header-cell *matHeaderCellDef>
        {{ column.header }}
      </th>
      <td mat-cell *matCellDef="let row">
        <div *ngIf="column.columnDef === 'arrived'">
          <span *ngIf="column.cell(row)">
            <fa-icon class="vi-icon" [icon]="['fas', 'check-circle']"></fa-icon>
          </span>
          <span *ngIf="!column.cell(row)">
            <fa-icon
              class="warning-icon"
              [icon]="['fas', 'exclamation-circle']"
            ></fa-icon>
          </span>
        </div>

        <div *ngIf="column.columnDef !== 'arrived'">
          {{ column.cell(row) }}
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="3">אין הודעות במערכת"</td>
    </tr>
  </table>
</div>

<div class="canvas-wrapper text-center">
  <h5 class="mt-2">פרטי סטטוסי חבילות</h5>
  <canvas
    baseChart
    style="width: inherit; height: inherit"
    [data]="pieChartData"
    [colors]="chartColors"
    [labels]="pieChartLabels"
    [chartType]="pieChartType"
    [options]="pieChartOptions"
    [plugins]="pieChartPlugins"
    [legend]="pieChartLegend"
  >
  </canvas>
</div>
<div class="buttons">
  <button
    class="btn btn-round btn-danger primary-btn ml-3"
    (click)="popAlertModal()"
  >
    קבע נהגים אוטומטית
  </button>
  <button
    class="btn btn-round btn-secondary secondary-btn ml-3"
    (click)="popDeleteEventDataModal()"
  >
    סיים אירוע
  </button>
</div>
