.canvas-wrapper {
  margin: 0 auto;
  border-radius: 2rem;
  color: white;
  height: 350px;
  width: 500px;
}

.buttons {
  text-align: center;
  margin-bottom: 3rem;
}

.primary-btn {
  font-size: 0.9rem;
  transition: 0.4s;
  animation: fadeDown 0.8s both;
  animation-delay: 1.4s;
  background-color: #df533b;
  color: white;
  font-weight: 500;
  &:hover {
    background-color: #af3d29;
  }
}

.secondary-btn {
  font-size: 0.9rem;
  transition: 0.4s;
  animation: fadeDown 0.8s both;
  animation-delay: 1.4s;
  background-color: rgb(71, 71, 71);
  color: white;
  font-weight: 500;
  &:hover {
    background-color: rgb(51, 51, 51);
  }
}

.vi-icon {
  color: rgb(54, 162, 235);
}

.warning-icon {
  color: rgb(255, 99, 132);
}

.demo-table {
  width: 100%;
  margin-bottom: 5rem;
}

.table-container {
  margin: 5rem auto 5rem;
  max-height: 35vh;
  max-width: 97%;
  overflow-y: auto;
  overflow-x: hidden;
}

.mat-column-text {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 30% !important;
  width: 30% !important;
  overflow-wrap: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-arrived {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 3% !important;
  width: 3% !important;
  overflow-wrap: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-date {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 3% !important;
  width: 3% !important;
  overflow-wrap: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
