@import "/src/sass/animations.scss";

.page-header {
  min-height: 100vh;
  background-color: rgb(29, 28, 49);
  background-image: linear-gradient(rgba(4, 9, 30, 0.25), rgb(4, 9, 30, 0.35)),
    url(/assets/img/takelove.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--natural-clr-white);
}

h5 {
  color: var(--accent-clr-400);
  font-weight: var(--fw-l) !important;
}

hr {
  border-color: var(--accent-clr-400);
  width: 80%;
  margin: 0;
  margin-top: 1.75rem;
}

.content {
  background-color: rgba(29, 28, 49, 0.9);
  border-radius: 1rem;
  padding: 2.5rem 3rem 2.5rem 1rem;
  animation: fade 0.7s ease-in-out;
  width: 20rem;
}

.field-wrapper {
  width: 300px;
}

.input {
  display: block;
  max-width: 25ch;
  font-size: 1rem;
  margin-bottom: -15px;
}

.error-msg {
  color: var(--error-clr);
  width: 300px;
  font-size: 0.85rem;
  margin-top: 1.5rem;
}

.login-spinner {
  min-width: 45px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
