<nav class="navbar navbar-expand-lg navbar-nav fixed-top py-3">
  <div class="container">
    <a class="navbar-brand nav-text" routerLink="/">
      <img class="logo" src="../../../assets/img/Logo.png" alt="" />&Takemy
    </a>
    <button
      class="navbar-toggler"
      type="button"
      (click)="sidebarToggle()"
      [attr.aria-expanded]="!navbarCollapsed"
      aria-controls="navbarContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <div class="navTrigger"><i></i><i></i><i></i></div>
    </button>
    <div
      class="collapse navbar-collapse"
      [ngbCollapse]="navbarCollapsed"
      id="navbarSupportedContent"
    >
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a
            routerLink="/login"
            *ngIf="!this.authService?.user"
            class="nav-link"
            >התחבר</a
          >
          <div *ngIf="this.authService?.user" class="nav-link user-link">
            שלום, {{ this.authService?.user?.username }}
          </div>
        </li>
        <li class="nav-item">
          <a routerLink="/volunteer" class="nav-link">התנדבות</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">תרומות</a>
        </li>
        <li class="nav-item">
          <a routerLink="/userpanel" class="nav-link">פורטל אישי</a>
        </li>
        <li class="nav-item" *ngIf="this.authService?.user?.role === 'admin'">
          <a routerLink="/admin" class="nav-link">לוח מנהל</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
