.navTrigger {
  cursor: pointer;
  width: 25px;
  max-width: 20px;
  i {
    background-color: #fff;
    border-radius: 2px;
    content: "";
    display: block;
    width: 100%;
    height: 4px;
  }
  i:nth-child(1) {
    -webkit-animation: outT 0.6s backwards;
    animation: outT 0.6s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
  }
  i:nth-child(2) {
    margin: 5px 0;
    -webkit-animation: outM 0.6s backwards;
    animation: outM 0.6s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
  }
  i:nth-child(3) {
    -webkit-animation: outBtm 0.6s backwards;
    animation: outBtm 0.6s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
  }
  &.active {
    i:nth-child(1) {
      -webkit-animation: inT 0.6s forwards;
      animation: inT 0.6s forwards;
    }
    i:nth-child(2) {
      -webkit-animation: inM 0.6s forwards;
      animation: inM 0.6s forwards;
    }
    i:nth-child(3) {
      -webkit-animation: inBtm 0.6s forwards;
      animation: inBtm 0.6s forwards;
    }
  }
}
@-webkit-keyframes inM {
  50% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(45deg);
  }
}
@keyframes inM {
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(45deg);
  }
}

@-webkit-keyframes outM {
  50% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(45deg);
  }
}
@keyframes outM {
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(45deg);
  }
}

@-webkit-keyframes inT {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(9px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(9px) rotate(135deg);
  }
}
@keyframes inT {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(9px) rotate(0deg);
  }
  100% {
    transform: translateY(9px) rotate(135deg);
  }
}

@-webkit-keyframes outT {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(9px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(9px) rotate(135deg);
  }
}
@keyframes outT {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(9px) rotate(0deg);
  }
  100% {
    transform: translateY(9px) rotate(135deg);
  }
}

@-webkit-keyframes inBtm {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(-9px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(-9px) rotate(135deg);
  }
}
@keyframes inBtm {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(-9px) rotate(0deg);
  }
  100% {
    transform: translateY(-9px) rotate(135deg);
  }
}

@-webkit-keyframes outBtm {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(-9px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(-9px) rotate(135deg);
  }
}
@keyframes outBtm {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(-9px) rotate(0deg);
  }
  100% {
    transform: translateY(-9px) rotate(135deg);
  }
}

nav {
  display: flex;
}

.nav-item {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

.navbar {
  transition: 0.4s;
}

.nav-text {
  color: white;
  font-weight: 500;
}

.logo {
  width: 30%;
  height: 30%;
  display: inline-block;
  margin: 0 7%;
}

.nav-link {
  color: white;
  font-weight: 500;
  text-decoration: none;
  font-size: 13px;
}

.nav-link::after {
  content: "";
  width: 0;
  opacity: 0;
  height: 2px;
  background: #f44336;
  display: block;
  margin: auto;
  margin-top: 2px;
  transition: 0.5s;
}

.nav-link:hover::after {
  width: 100%;
  opacity: 1;
}

.times {
  color: white;
  font-size: 22px;
}

@media (max-width: 1024px) {
  .nav-link {
    display: inline;
  }

  .nav-link::after {
    position: absolute;
    display: block;
  }

  .nav-link:hover::after {
    width: 10%;
    opacity: 1;
    display: block;
    position: absolute;
  }
}
