<nav class="navbar navbar-expand-lg navbar-nav fixed-top py-3">
  <div class="container">
    <a class="navbar-brand nav-text" routerLink="/">
      <img class="logo" src="../../../assets/img/Logo.png" alt="" />&Takemy
    </a>
    <button
      class="navbar-toggler"
      type="button"
      (click)="sidebarToggle()"
      [attr.aria-expanded]="!navbarCollapsed"
      aria-controls="navbarContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <div class="navTrigger"><i></i><i></i><i></i></div>
    </button>
    <div
      class="collapse navbar-collapse"
      [ngbCollapse]="navbarCollapsed"
      id="navbarSupportedContent"
    >
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a routerLink="/volunteer" class="nav-link">התנדבות</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">תרומות</a>
        </li>
        <li class="nav-item">
          <a routerLink="/admin" class="nav-link">לוח מנהל</a>
        </li>
        <li class="nav-item">
          <a routerLink="/login" class="nav-link">התחבר</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
