/*******************************/
/*********** Header CSS **********/
/*******************************/
.page-wrapper {
  min-height: 100vh;
  width: 100%;
  background-color: var(--primary-clr-400);
  background-image: linear-gradient(
      hsla(228, 76%, 7%, 0.4),
      hsla(228, 76%, 7%, 0.5)
    ),
    url(/assets/img/takelove.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--natural-clr-white);
}

p {
  color: var(--natural-clr-white);
}

.table-container {
  max-height: 70vh;
  max-width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.primary-btn {
  font-size: 0.9rem;
  transition: 0.4s;
  animation: fadeDown 0.8s both;
  animation-delay: 1.4s;
  background-color: var(--accent-clr-400);
  color: var(--natural-clr-white);
  font-weight: var(--fw-m);
  &:hover {
    background-color: var(--accent-clr-600);
  }
}

.icon {
  cursor: pointer;
  transition: 0.3s;
}

.edit-btn {
  &:hover {
    color: #86b1ff;
  }
}

.delete-btn {
  &:hover {
    color: rgb(255, 71, 71);
  }
}

::ng-deep {
  .content-wrapper {
    margin-top: 5rem;

    .mat-form-field.mat-focused .mat-form-field-label {
      color: var(--natural-clr-white) !important;
    }

    .mat-form-field-suffix .mat-icon {
      font-size: 120%;
    }

    .mat-form-field-appearance-standard .mat-form-field-underline {
      transition: 0.5s;
      background-color: var(--natural-clr-white) !important;
    }

    .mat-form-field-appearance-standard .mat-form-field-ripple {
      transition: 0.2s;
      background-color: var(--natural-clr-white) !important;
    }

    .mat-focused {
      color: var(--natural-clr-white) !important;
    }

    .mat-select-min-line {
      color: var(--natural-clr-white) !important;
    }

    mat-form-field {
      input,
      .mat-form-field-label {
        color: var(--natural-clr-white) !important;
      }
    }

    .mat-checkbox-background {
      border: 1px solid var(--natural-clr-white);
    }

    .mat-select-arrow,
    .mat-form-field.mat-focused.mat-primary .mat-select-arrow {
      color: white;
    }

    .mat-checkbox-checked.mat-accent .mat-checkbox-background {
      background-color: #ef3e36;
    }

    .mat-form-field {
      font-size: 14px;
      width: 100%;
    }

    .mat-form-field.table-input {
      font-size: 14px;
      width: 80%;
    }

    .checkbox {
      transform: translate(-2px, 4px) !important;
    }
  }
}

.mat-column-address {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 85% !important;
  width: 85% !important;
  overflow-wrap: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-arrived {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 10% !important;
  width: 10% !important;
  overflow-wrap: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-waze {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 5% !important;
  width: 5% !important;
  overflow-wrap: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.waze-icon-background {
  padding: 0.27rem 0.23rem;
  border-radius: 0.5rem;
  transition: 0.2s;
  color: black;
  background-color: #74d0eb;
  &:hover {
    background-color: #68b5cc;
  }
}

.waze-icon {
  margin-bottom: 3px;
  height: 20px;
  width: 20px;
}

.content {
  width: 40%;
  padding: 0;
  animation: fade 0.7s ease-in-out;
}

@media (max-width: 768px) {
  .content {
    width: 85%;
    margin: 6.5rem 2rem 3.5rem 2rem;
  }

  p {
    font-size: 13px;
  }
}

/* Animation */
@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(4rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes scale {
  0% {
    opacity: 0;
    transform: scale(1.5);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fadeDown {
  0% {
    opacity: 0;
    transform: translateY(-2rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
