@import "/src/sass/animations.scss";
@import "/src/sass/icons.scss";

.page-wrapper {
  min-height: 100vh;
  background-color: var(--primary-clr-400);
  background-image: linear-gradient(
      hsla(228, 76%, 7%, 0.4),
      hsla(228, 76%, 7%, 0.5)
    ),
    url(/assets/img/takelove.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.table-container {
  overflow-y: auto;
  max-height: 70vh;
}

.checkbox {
  transform: translate(-2px, 4px);
}

.mat-column-arrived {
  flex: 0 0 10%;
  width: 10%;
}

.mat-column-waze {
  flex: 0 0 5%;
  width: 5%;
}

.content {
  margin-top: 3rem;
  width: 40%;
  animation: fade 0.7s ease-in-out;
}

@media (max-width: 768px) {
  .content {
    width: 85%;
  }
}
