@use "/src/sass/icons.scss";

.table-container {
  max-height: 70vh;
  overflow-y: auto;
}

.checkbox {
  transform: translate(-2px, 4px) !important;
}

.mat-column-address {
  flex: 0 0 65%;
  width: 65%;
}

.mat-column-driver {
  flex: 0 0 18%;
  width: 18%;
}

.mat-column-arrived {
  flex: 0 0 7%;
  width: 7%;
}

.mat-column-edit {
  flex: 0 0 5%;
  width: 5%;
}

.mat-column-delete {
  flex: 0 0 5%;
  width: 5%;
}

.mat-column-waze {
  flex: 0 0 5%;
  width: 5%;
}

.content-wrapper {
  margin-top: 5rem;
}
