<!-- Header  -->
<div class="page-header" data-parallax="true">
  <div class="text-center page-header__text">
    <div class="container content text-left">
      <div class="row">
        <div class="formContent">
          <h1>Login</h1>
          <h5>Log into our driver's portal</h5>
          <form class="form">
            <hr />
            <mat-form-field appearance="outline" class="input mt-2">
              <mat-label>Email</mat-label>
              <input
                matInput
                required
                type="email"
                placeholder="Jane@doe.com"
                autocomplete="off"
              />
            </mat-form-field>
            <mat-form-field appearance="outline" class="input mt-2">
              <mat-label>Password</mat-label>
              <input matInput required type="password" autocomplete="off" />
            </mat-form-field>
            <br />
            <button
              mat-flat-button
              color="warn"
              class="btnSend btn-lg btn-round mt-3"
            >
              Send
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Header  -->
