.table-container {
  max-height: 70vh;
  overflow-y: auto;
}

.checkbox {
  transform: translateY(5px);
}

.content-wrapper {
  margin-top: 5rem;
}

.mat-column-full_name {
  flex: 0 0 16%;
  width: 16%;
}

.mat-column-phone {
  flex: 0 0 16%;
  width: 16%;
}

.mat-column-driver {
  flex: 0 0 5%;
  width: 5%;
}

.mat-column-address {
  flex: 0 0 55%;
  width: 55%;
}

.mat-column-edit {
  flex: 0 0 5%;
  width: 5%;
}

.mat-column-delete {
  flex: 0 0 5%;
  width: 5%;
}
