<h1 mat-dialog-title class="text-right">ערוך חבילה</h1>
<form
  class="form"
  [formGroup]="profileForm"
  (ngSubmit)="onSubmit(f)"
  #f="ngForm"
>
  <mat-form-field appearance="standard" class="input d-block">
    <mat-label>כתובת</mat-label>
    <input
      matInput
      type="text"
      required
      id="address"
      name="address"
      autocomplete="off"
      formControlName="address"
    />
    <mat-error *ngIf="address.errors?.required">שדה חובה</mat-error>
  </mat-form-field>
  <div class="mt-2">
    <div mat-dialog-actions align="end">
      <button mat-stroked-button mat-dialog-close type="button">ביטול</button>
      <button
        mat-stroked-button
        color="warn"
        type="submit"
        [disabled]="!profileForm.valid"
      >
        שמור
      </button>
    </div>
  </div>
</form>
