.page-header__text {
  color: var(--natural-clr-white);
  text-align: center;

  h1 {
    animation: scale 0.7s both;
    animation-delay: 0.5s;
  }

  h3 {
    animation: fadeUp 0.8s both;
    animation-delay: 0.8s;
  }

  a {
    animation: fadeDown 0.8s both;
    animation-delay: 1.4s;
    font-weight: var(--fw-b);
    font-size: 1.05rem;
  }
}
