.footer {
  background-color: var(--primary-clr-400);
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 7rem;

  p {
    color: var(--natural-clr-white);
    margin: 0;
  }
}
