.section-header {
  margin-bottom: 15px;
  margin-left: 0;
}

.about-text {
  p {
    font-size: 16px;
  }

  a.btn {
    position: relative;
    margin-top: 15px;
    font-size: 12px;
    font-weight: var(--fw-b);
    letter-spacing: 1px;
    transition: 0.5s;
    background-color: var(--accent-clr-400);
    color: var(--natural-clr-white);
    &:hover {
      background-color: var(--accent-clr-600);
    }
  }
}
