.demo-table {
  width: 100%;
}

.content-wrapper {
  margin-top: 5rem;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-form-field.table-input {
  font-size: 14px;
  width: 80%;
}

:ng-deep .mat-checkbox {
  transform: translate(11px, 2px) !important;
}

.mat-column-driver {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 20% !important;
  width: 20% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

::ng-deep .mat-checkbox-background {
  border: 1px solid white;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: #ef3e36;
}

.mat-table {
  background: transparent;
}

.mat-header-cell {
  color: rgb(255, 255, 255);
}

mat-row,
mat-header-row,
mat-footer-row,
th.mat-header-cell,
td.mat-cell,
td.mat-footer-cell {
  border-bottom-color: rgb(204, 204, 204, 41%);
}

[mat-header-row] {
  background: #090d1d;
}

.mat-cell,
.mat-footer-cell {
  color: white;
}
