<div class="container content-wrapper">
  <div class="row">
    <h1 class="text-white">Parcels</h1>
    <mat-form-field>
      <mat-label>Filter</mat-label>
      <input
        matInput
        (keyup)="applyFilter($event)"
        placeholder="Ex. ium"
        #input
      />
    </mat-form-field>
    <table
      mat-table
      [dataSource]="dataSource"
      matSort
      class="mat-elevation-z8 demo-table"
    >
      <ng-container
        *ngFor="let column of columns"
        [matColumnDef]="column.columnDef"
      >
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ column.header }}
        </th>
        <td mat-cell *matCellDef="let row">
          <span *ngIf="column.header === 'Driver'">
            <mat-form-field class="table-input">
              <mat-select
                [value]="column.cell(row)"
                [compareWith]="compareByID"
              >
                <mat-option *ngFor="let driver of drivers" [value]="driver">
                  {{ driver.full_name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </span>
          <div *ngIf="column.header === 'Arrived'">
            <mat-checkbox [checked]="column.cell(row)" [color]="warn">
            </mat-checkbox>
          </div>
          <div
            *ngIf="column.header !== 'Arrived' && column.header !== 'Driver'"
          >
            {{ column.cell(row) }}
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="3">
          No data matching the filter "{{ input.value }}"
        </td>
      </tr>
    </table>
  </div>
</div>
