.demo-table {
  width: 100%;
  max-height: 30vh;
  overflow-y: scroll;
}

.content-wrapper {
  margin-top: 5rem;
}

.primary-btn {
  font-size: 0.9rem;
  transition: 0.4s;
  animation: fadeDown 0.8s both;
  animation-delay: 1.4s;
  background-color: #df533b;
  color: white;
  font-weight: 500;
  &:hover {
    background-color: #af3d29;
  }
}

::ng-deep {
  .mat-form-field.mat-focused .mat-form-field-label {
    color: white !important;
  }

  .mat-form-field-suffix .mat-icon {
    font-size: 120%;
  }

  .mat-form-field-appearance-standard .mat-form-field-underline {
    transition: 0.5s;
    background-color: white !important;
  }

  .mat-form-field-appearance-standard .mat-form-field-ripple {
    transition: 0.2s;
    background-color: white !important;
  }

  .mat-focused {
    color: white !important;
  }

  .mat-select-min-line {
    color: white !important;
  }

  mat-form-field {
    input,
    .mat-form-field-label {
      color: white !important;
    }
  }
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-form-field.table-input {
  font-size: 14px;
  width: 80%;
}

:ng-deep .mat-checkbox {
  transform: translate(11px, 2px) !important;
}

.mat-column-driver {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 50% !important;
  width: 50% !important;
  overflow-wrap: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-driver {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 20% !important;
  width: 20% !important;
  overflow-wrap: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-arrived {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 10% !important;
  width: 10% !important;
  overflow-wrap: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-edit {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 10% !important;
  width: 10% !important;
  overflow-wrap: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-delete {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 5% !important;
  width: 5% !important;
  overflow-wrap: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.checkbox {
  transform: translateY(5px);
}

::ng-deep .mat-checkbox-background {
  border: 1px solid white;
}

::ng-deep .mat-select-arrow,
::ng-deep .mat-form-field.mat-focused.mat-primary .mat-select-arrow {
  color: white;
}

::ng-deep .mat-slide-toggle-bar {
  background-color: rgb(255 255 255 / 38%);
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: #ef3e36;
}

.mat-table {
  background: transparent;
}

.mat-header-cell {
  color: rgb(255, 255, 255);
}

mat-row,
mat-header-row,
mat-footer-row,
th.mat-header-cell,
td.mat-cell,
td.mat-footer-cell {
  border-bottom-color: rgb(204, 204, 204, 41%);
}

[mat-header-row] {
  background: #090d1d;
}

.mat-cell,
.mat-footer-cell {
  color: white;
}
