<app-navbar></app-navbar>
<!-- Header  -->
<div class="page-header" data-parallax="true">
  <div class="container">
    <app-header></app-header>
  </div>
  <div class="icon-scroll"></div>
</div>
<!-- Header  -->

<div class="main">
  <!-- About Start -->
  <div class="about">
    <div class="container">
      <div class="row align-items-center">
        <div
          class="col-md-6"
          inViewport
          [inViewportOptions]="{ threshold: [0] }"
          (inViewportAction)="onIntersection($event, 'animate__fadeInUp')"
        >
          <app-about-picutres></app-about-picutres>
        </div>
        <div
          class="col-md-6"
          inViewport
          [inViewportOptions]="{ threshold: [0] }"
          (inViewportAction)="onIntersection($event, 'animate__fadeInUp')"
        >
          <app-about-text></app-about-text>
        </div>
      </div>
    </div>
  </div>
  <!-- About End -->

  <!-- Events -->
  <div
    class="blog"
    inViewport
    [inViewportOptions]="{ threshold: [0] }"
    (inViewportAction)="onIntersection($event, 'animate__fadeInUp')"
  >
    <div class="container">
      <div>
        <p>אירועים</p>
        <h2>אירועים לשנת {{ date | date: "yyyy" }}</h2>
      </div>
      <div class="row">
        <div
          class="blog-item col-md-6"
          *ngFor="let event of events; let i = index"
        >
          <app-event-card [event]="event" [index]="i"></app-event-card>
        </div>
      </div>
    </div>
    <!-- Events End  -->
    <!-- Quote  -->
    <div class="section text-left quote-section mt-5">
      <div class="container">
        <div class="row">
          <div
            class="col-md-12"
            inViewport
            [inViewportOptions]="{ threshold: [0] }"
            (inViewportAction)="onIntersection($event, 'animate__fadeInRight')"
          >
            <p class="quote-header">במה אנחנו מאמינים</p>
            <h3 class="quote section-header" dir="ltr">
              <em>
                “Remember that the happiest people are not those getting
                more,<br />
                but those giving more.”
              </em>
            </h3>
            <h5 class="author" dir="ltr"><em> H. Jackson Brown Jr.</em></h5>
          </div>
        </div>
      </div>
    </div>
    <!-- Quote End  -->
    <!-- Process  -->
    <div class="section text-center my-5">
      <div class="container">
        <div class="row">
          <div class="col-md-8 mr-auto ml-auto">
            <p>התהליך שלנו</p>
            <h2 class="title">בואו נדבר על התהליך</h2>
            <p class="description mt-3">
              כאן ב&TakeMy אנחנו פועלים בשלושה שלבים שונים, והכל באמצעות
              המתנדבים שמושיטים את ידם לעזור לנזקקים ולאוכלוסייה הסובבת אותם.
              אנו מתחילים מאיסוף תרומות שבהם אנו רוכשים את המוצרים, לאחר מכן
              אורזים את המוצרים שרכשנו לחבילות מזון ולסיום אנו מביאים עד פתח
              הבית של הנזקק את החבילות
            </p>
          </div>
        </div>
        <br /><br />
        <div class="row">
          <div
            class="col-md-4"
            inViewport
            [inViewportOptions]="{ threshold: [0] }"
            (inViewportAction)="onIntersection($event, 'animate__fadeInUp')"
          >
            <app-process-details
              desc="איסוף תרומות מהקהילה שלנו לצורכי רכישת מוצרים אשר יחולקו כחבילות מזון לנזקקים"
              title="איסוף תרומות"
              [icon]="['fas', 'coins']"
            ></app-process-details>
          </div>
          <div
            class="col-md-4"
            inViewport
            [inViewportOptions]="{ threshold: [0] }"
            (inViewportAction)="
              onIntersection($event, 'animate__fadeInUp', 'animate__delay-05s')
            "
          >
            <app-process-details
              desc="                  התאספות ליום מיוחד שבו נפגשים כל חברי הקהילה על מנת לארוז את
              החבילות, להנות ולהכיר"
              title="אריזת מזון"
              [icon]="['fas', 'box-open']"
            ></app-process-details>
          </div>
          <div
            class="col-md-4"
            inViewport
            [inViewportOptions]="{ threshold: [0] }"
            (inViewportAction)="
              onIntersection($event, 'animate__fadeInUp', 'animate__delay-1s')
            "
          >
            <app-process-details
              desc="
              חילוק חבילות המזון לנזקקים העיר באמצעות רכבי המתנדבים
              ואלגוריתם חכם לחילוק יעיל"
              title="חלוקת חבילות"
              [icon]="['fas', 'shipping-fast']"
            ></app-process-details>
          </div>
        </div>
      </div>
    </div>
    <!-- Process End  -->
  </div>
</div>
<app-footer></app-footer>
