html,
body {
  height: 100%;
  font-family: "Montserrat", sans-serif;
  user-select: none;
}

body {
  margin: 0;
}

//Global
p {
  color: #66615b;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}

a {
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}

.btn-round {
  border-radius: 1.5rem !important;
}

.btn h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400 !important;
}

.btnLarge {
  padding: 0.5rem 3rem !important;
  font-size: 1.125rem !important;
  letter-spacing: 1.1px !important;
}

.borderLarge {
  border-width: 2px !important;
}
