html,
body {
  height: 100%;
  font-family: "Montserrat", sans-serif;
}

body {
  margin: 0;
}

//Global
p {
  color: #66615b;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}

a {
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}
