<h1 mat-dialog-title class="text-right">טען חבילות מקובץ</h1>
<div mat-dialog-content class="text-right">
  <p>נא לוודא שקובץ הינו קובץ טקסט</p>
  <p>בנוסף, יש לוודא כי תוכן הקובץ בפורמט הבא</p>
  <p class="example">הרברט סמואל 50, חדרה</p>
  <p class="example">דוד שמעוני 68, חדרה</p>
  <div class="fileUploadInput mt-4">
    <input
      type="file"
      accept=".txt"
      (change)="handleFileInput($event.target.files)"
    />
    <button>+</button>
  </div>
</div>
<div mat-dialog-actions align="end" class="mt-2">
  <button mat-stroked-button mat-dialog-close>ביטול</button>
  <button
    mat-stroked-button
    color="warn"
    (click)="uploadFileToActivity()"
    [disabled]="!this.textFile"
  >
    טען חבילות
  </button>
</div>
