@use '/src/sass/icons.scss';

.canvas-wrapper {
  margin: 0 auto;
  border-radius: 2rem;
  color: var(--natural-clr-white);
  height: 350px;
  width: 500px;
}

.buttons {
  text-align: center;
  margin-bottom: 3rem;
}

.demo-table {
  margin-bottom: 5rem;
}

.table-container {
  margin: 5rem auto 5rem;
  height: 35vh;
  max-width: 97%;
  overflow-y: auto;
}

.mat-column-text {
  flex: 0 0 30%;
  width: 30%;
}

.mat-column-arrived {
  flex: 0 0 3%;
  width: 3%;
}

.mat-column-date {
  flex: 0 0 3%;
  width: 3%;
}
