.page-wrapper {
  display: flex;
}

.main-wrapper {
  background-image: linear-gradient(rgba(22, 29, 54, 0.7), rgba(4, 9, 30, 0.7)),
    url(../../assets/img/hero.jpg);
  min-height: 100vh;
  flex-basis: 86%;
}

.sidebar {
  background-color: #1d1c31;
  min-height: 100vh;
  flex-basis: 14%;
  padding-top: 1rem;
  display: flex;
  flex-direction: column;

  .nav-text {
    color: white;
    font-weight: 500;
    transform: translateX(30px);
  }

  .logo {
    width: 25%;
    height: 25%;
    display: inline-block;
    margin: 0 7%;
  }

  .menu-item {
    margin: 0.25rem auto;
    a {
      display: block;
      width: 12rem;
      color: #d3d3d3;
      padding: 1rem 1.5rem;
      border-radius: 0.25rem;
      &:hover {
        color: white;
      }
    }
    .active-link {
      color: white !important;
      background-color: #090d1d;
    }
  }

  .small-icon {
    margin-right: 13px;
  }

  .large-icon {
    margin-right: 7px;
  }
}
