<div class="page-wrapper" dir="rtl">
  <div class="sidebar text-right">
    <div class="mt-1 mb-2">
      <a class="navbar-brand nav-text" routerLink="/">
        <img class="logo" src="../../../assets/img/Logo.png" alt="" />&Takemy
      </a>
    </div>
    <div class="menu-item">
      <a routerLink="events" routerLinkActive="active-link">
        <span>
          <fa-icon
            class="small-icon"
            [icon]="['fas', 'calendar-day']"
          ></fa-icon>
          אירועים
        </span>
      </a>
    </div>
    <div class="menu-item">
      <a routerLink="parcels" routerLinkActive="active-link">
        <span>
          <fa-icon class="small-icon" [icon]="['fas', 'archive']"></fa-icon>
          חבילות
        </span>
      </a>
    </div>
    <div class="menu-item">
      <a routerLink="control" routerLinkActive="active-link">
        <span>
          <fa-icon class="small-icon" [icon]="['fas', 'cog']"></fa-icon>
          מרכז שליטה
        </span>
      </a>
    </div>
    <div class="menu-item">
      <a routerLink="volunteers" routerLinkActive="active-link">
        <span>
          <fa-icon class="small-icon" [icon]="['fas', 'user']"></fa-icon>
          מתנדבים
        </span>
      </a>
    </div>
    <!-- <div class="menu-item">
      <a routerLink="drivers" routerLinkActive="active-link">
        <span>
          <fa-icon class="small-icon" [icon]="['fas', 'car']"></fa-icon>
          נהגים
        </span>
      </a>
    </div> -->
  </div>
  <div class="main-wrapper">
    <router-outlet></router-outlet>
  </div>
</div>
