<div class="section-header">
  <p>טיפה עלינו</p>
  <h2>פה ב-&TakeMy</h2>
</div>
<div class="about-text">
  <p>
    פה ב-&TakeMy, אנחנו יודעים שכל מה שצריך כדי לשנות את העולם הוא קצת תמיכה.
    מאז הקמתנו היינו נחושים להשפיע. ליבת המאמצים שלנו היא להביא את הרעיונות
    והתשוקה הטריים של הצוות שלנו למגוון פעילויות שהם אנו מעורבים. דרך כל המאמצים
    שלנו אנו מקווים להציג את האמונה שלנו מאחורי המעשים.
  </p>
  <p>
    הצטרפו לקהילת התורמים שלנו, ככל שיתרם יותר כסף, כך נוכל להבטיח שליותר אנשים
    יהיה שולחן חג בביתיהם!
  </p>
  <a
    href="https://www.payboxapp.com/"
    target="_blank"
    color="warn"
    class="btn-round btn btn-danger px-3 py-2 watchBtn"
    ><fa-icon [icon]="['fas', 'donate']" class="ml-2"></fa-icon
    ><span>תרום לעמותה</span>
  </a>
</div>
