.page-wrapper {
  min-height: 100vh;
  background-color: var(--primary-clr-400);
  background-image: linear-gradient(rgba(4, 9, 30, 0.25), rgb(4, 9, 30, 0.35)),
    url(/assets/img/takelove.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--natural-clr-white);
}

p {
  color: var(--natural-clr-white);
}

h5 {
  color: var(--accent-clr-400);
  font-weight: var(--fw-l) !important;
}

hr {
  border-color: var(--accent-clr-400);
  width: 80%;
  margin: 1.5rem 0;
}

.content {
  background-color: rgb(29, 28, 49, 0.9);
  width: 100%;
  padding: 0;
  margin: 5.5rem 0;
  border-radius: 30px;
  animation: fade 0.7s ease-in-out;
  display: flex;
}

.content img {
  border-radius: 30px 0 0 30px;
}

.form-content {
  padding: 3rem 3.5rem 1rem 3.5rem;
  flex-basis: 50%;
  max-width: 50%;
}

.thanks {
  font-size: 0.9rem;
  line-height: 1.25rem;
}

.thanks.second {
  margin-top: -10px;
}

.error-msg {
  margin-top: 1.5rem;
  color: var(--error-clr);
  font-size: 0.9rem;
}

.input {
  width: 200px;
  max-width: 80%;
  font-size: 1rem;
  margin-bottom: -15px;
}

.input.address-input {
  width: 350px;
}

.side-image {
  flex-basis: 50%;
  max-width: 50%;
}

@media (max-width: 768px) {
  #picture {
    border-radius: 0 0 30px 30px;
    margin-top: 2rem;
    display: none;
  }

  .content {
    width: 85%;
    padding: 10% 0 0;
    margin: 6.5rem 2rem 3.5rem 2rem;
  }

  .formContent {
    flex-basis: 100%;
    max-width: 100%;
    padding: 0 12.5%;
  }

  p {
    font-size: 13px;
  }

  .error-msg {
    margin-bottom: 2.5rem;
  }
}
