/*******************************/
/*********** Header CSS **********/
/*******************************/
.page-wrapper {
  min-height: 100vh;
  width: 100%;
  background-color: rgb(29, 28, 49);
  background-image: linear-gradient(rgba(4, 9, 30, 0.25), rgb(4, 9, 30, 0.35)),
    url(/assets/img/takelove.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

p {
  color: white;
}

h5 {
  color: #f5593d;
  font-weight: 300 !important;
}

hr {
  border-color: #f5593d;
  width: 80%;
  margin: 1.5rem 0;
}

.content {
  background-color: rgb(29, 28, 49, 0.9);
  width: 100%;
  padding: 0;
  margin: 5.5rem 0;
  border-radius: 30px;
  animation: fade 0.7s ease-in-out;
}

.content img {
  border-radius: 30px 0 0 30px;
}

.formContent {
  padding: 3rem 3.5rem 1rem 3.5rem;
  flex-basis: 50%;
  max-width: 50%;
}

.thanks {
  font-size: 0.9rem;
  line-height: 1.25rem;
}

.second {
  margin-top: -10px;
}

.error-msg {
  margin-top: 1.5rem;
  color: rgb(255, 81, 81);
  font-size: 0.9rem;
}

.input {
  width: 200px;
  max-width: 80%;
  font-size: 1rem;
  margin-bottom: -15px;
}

.input.address-input {
  width: 350px;
}

.side-image {
  flex-basis: 50%;
  max-width: 50%;
}

.btnSend {
  background-color: #e7553b;
  color: white;
  font-weight: 500;
  animation: fade-down 0.7s 0.7s backwards;
  &:hover {
    background-color: #c3442d;
  }
  &:disabled {
    cursor: not-allowed;
    background-color: #6e6e6e;
    color: white;
    opacity: 0.6;
  }
}

::ng-deep {
  .register-form {
    .mat-form-field.mat-focused .mat-form-field-label {
      color: white !important;
    }

    .mat-form-field-suffix .mat-icon {
      font-size: 120%;
    }

    .mat-select-arrow {
      color: white !important;
    }

    .mat-form-field-appearance-standard .mat-form-field-underline {
      transition: 0.5s;
      background-color: white !important;
    }

    .mat-form-field-appearance-standard .mat-form-field-ripple {
      transition: 0.2s;
      background-color: white !important;
    }

    mat-form-field input {
      caret-color: white !important;
    }

    .mat-focused {
      color: white !important;
    }

    .mat-select-min-line {
      color: white;
    }

    mat-form-field {
      .mat-hint,
      input,
      .mat-form-field-label {
        color: white;
      }
    }
  }
}

@media (max-width: 768px) {
  #picture {
    border-radius: 0 0 30px 30px;
    margin-top: 2rem;
    display: none;
  }

  .content {
    width: 85%;
    padding: 10% 0 0;
    margin: 6.5rem 2rem 3.5rem 2rem;
  }

  .formContent {
    flex-basis: 100%;
    max-width: 100%;
    padding: 0 12.5%;
  }

  p {
    font-size: 13px;
  }

  .error-msg {
    margin-bottom: 2.5rem;
  }
}

/* Animation */
@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(4rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes scale {
  0% {
    opacity: 0;
    transform: scale(1.5);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fade-down {
  0% {
    opacity: 0;
    transform: translateY(-2rem);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
